.root {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 16px 0;
  border-top: 1px solid #dbdbdb;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 8px;
  column-gap: 16px;
  padding: 0 16px;
}

.link {
  font-size: 12px;
  line-height: 16px;
  color: #353935;
  text-decoration: none;
}

.linkActive {
  color: #000000;
  font-weight: 600;
}

.disabledLink {
  font-size: 12px;
  line-height: 16px;
  color: #353935;
  opacity: 0.6;
  cursor: not-allowed;
}

.copyright {
  font-size: 12px;
  line-height: 16px;
  color: #353935;
  opacity: 0.6;
}

