.formStack {
  width: 100%;
  max-width: 350px;
}

.card {
  width: 100%;
  max-width: 350px;
  border-radius: 1px;
  border-color: #dbdbdb;
  padding: 24px 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}

.bottomCard {
  width: 100%;
  max-width: 350px;
  height: 63px;
  border-radius: 1px;
  border-color: #dbdbdb;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

.logo {
  width: 190px;
  height: 107px;
  object-fit: contain;
  margin-top: 16px;
  margin-bottom: 24px;
  display: block;
}

.formWrap {
  width: 268px;
}

.input {
  :global(.MuiOutlinedInput-root) {
    height: 38px;
  }
}

.button {
  height: 32px;
}

.dividerWrap {
  width: 268px;
  margin: 16px 0;
  display: flex;
  align-items: center;
}

.dividerLine {
  flex: 1;
}

.orText {
  padding: 0 16px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #353935;
  opacity: 0.6;
}

.links {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
}

.title {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  margin-bottom: 8px;
}

.description {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: #353935;
  opacity: 0.9;
  margin-bottom: 16px;
}

.bottomCardText {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.linkPrimary {
  color: #5727f5;
}

.linkStrong {
  font-weight: 600;
}

