.root {
  max-width: 560px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.loading {
  display: flex;
  justify-content: center;
  padding: 48px 0;
}

.empty {
  font-size: 12px;
  line-height: 16px;
  color: #353935;
  text-align: center;
  padding: 48px 0;
}

